@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab&display=swap');

/* root styles: */


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    
}

.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

img {
    height: 100%;
    width: 100%;
    /* make the image automatically resize to the parent div element size */
    object-fit: contain;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
}

/* make parent grid for header */
.header {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: repeat(3, auto); */
    grid-gap: 1em;
    align-items: stretch;
    grid-template-areas: "title title title"
                         "date conditions hilow"
                         "subtitle subtitle subtitle";    
}

.header > div {
    text-align: center;
    max-width: 100%;
    /* display: grid; */
    object-fit: scale-down;
}

/* force the grid divs to be square responsively  */
.header > div::before {
    content: "";
    padding-bottom: 100%;
    /* display: block; */
    width: 0;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

/* .header > div::before,
.header > div > img {
    grid-area: 1 / 1 / 2 / 2;
} */

.header > div > img {
    /* object-fit: cover; */
    /* width: 100%; */
    max-width: 100%;
    height: auto;
    /* max-height: 100%; */
    object-fit: contain;
    /* object-fit: scale-down; */
}

.header > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

#title {
    grid-area: title;
    /* text-align: center; */
}

#subtitle {
    grid-area: subtitle;
}

#date {
    grid-area: date;
    /* text-align: center; */
}

.temp {
    /* set the temp numeral to be larger but responsive */
    font-size: 10vw;
    font-family: 'Roboto Slab', serif;
}

#conditions {
    grid-area: conditions;
    /* max-width: 150px; */
    /* text-align: center; */
}

#hilow {
    grid-area: hilow;
    /* text-align: center; */
}

/* ul is parent grid for clothing items in li. */
ul {
    padding: 0;
    list-style-type: none;
    display: grid;
    justify-content: center;
    /* 3 columns of same width: */
    /* grid-template-columns: 200px 200px 200px;  this made the grid overflow the screen on mobile devices*/
    grid-template-columns: 1fr 1fr 1fr;
    /* change row height as needed, may not want auto */
    grid-template-rows: repeat(3, auto);
    grid-gap: 1em;





    /* display: flex;
    flex-wrap: wrap;  removed flex*/

}


/* .outfit div {
    padding: 0 0.5em;
}

#outfit li > p {
    text-align: center;
} */

li {
    

    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    /* padding-bottom: 50px; */

    /* display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    vertical-align: top; */
    /* relative position so hidden pic can be absolutely positioned */
    /* position: relative; */
}

li:first-child {
    grid-row-start: 1;
    grid-row-end: 5;
}

/* containing div inside each li */
.pic {
    max-width: 200px; 
    /* display: flex;
    flex-wrap: wrap;
    flex: 1; */
} 

.name {
    text-align: center;
}

/* when p is displayed, it ruins flex overlay */
/* .hidden {
    display: none;
} */

/* class for clothing images div*/
.clothing {
    /* change this to final size after testing */
    /* max-width: 200px;  */
    /* flex: 1;  this changed it to staggered in the center but still no wrap*/
    /* display: flex;
    flex-wrap: wrap; */

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* class for color clothing images div */
.color {
    max-width: 200px;
    position: absolute;
    /* this works UNTIL you put in margin/padding on the li, or add a br to the li, then it runs above the first photo */
}

/* .outfit li > img {
    max-width: 20px;
} */


/* styles to accomodate larger devices */
@media all and (min-width:601px) {
    .temp {
        font-size: 110px;
    }
}